{erl_opts, [
        debug_info,
        warnings_as_errors,
        warn_unused_vars,
        nowarn_shadow_vars,
        warn_unused_import
    ]}.

{xref_checks, [
        undefined_function_calls,
        deprecated_function_calls
    ]}.

{eunit_opts, [
        verbose
    ]}.

{deps, [

        {mochiweb_xpath, "1.2.0", {git, "git@github.com:retnuh/mochiweb_xpath.git", {tag, "v1.2.0"}}},
        {mochiweb, "2.12.2", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}},
        %% reloader is for dev purposes only
        {reloader, ".*", {git, "git://github.com/oinksoft/reloader.git", "master"}}
    ]}.

% 
