{erl_opts, [
        debug_info,
        warnings_as_errors,
        warn_unused_vars,
        nowarn_shadow_vars,
        warn_unused_import
    ]}.

{xref_checks, [
        undefined_function_calls,
        deprecated_function_calls
    ]}.

{eunit_opts, [
        verbose
    ]}.

{deps, [
        {ibrowse, "4.1.1",
            {git, "git@github.com:cmullaparthi/ibrowse.git", {tag, "v4.1.1"}}},
        %% reloader is for dev purposes only
        {reloader, ".*", {git, "git://github.com/oinksoft/reloader.git", "master"}}
    ]}.

% 
